<!DOCTYPE html>
<html lang="fr">
<head>
     <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Todo App</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="../../node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <link href="./home.css" rel="stylesheet">
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';"/>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center mt-4 mb-5">Electron Todo App</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <h2 class="mb-2">Tâches</h2>
                <div class="d-flex">
                    <input id="new-task" type="text" class="form-control mr-1">
                    <button type="submit" class="btn btn-success">Ajouter</button>
                </div>
                <hr>
                <ul class="list-unstyled" id="list-unstyled">
                    <li class="d-flex mb-4">
                        <input class="mt-11" type="checkbox">
                        <input type="text" value="Faire le ménage" class="form-control mr-1 ml-2">
                        <button class="btn btn-primary btn-sm ml-2 edit">Modifier</button>
                        <button class="btn btn-danger btn-sm ml-2 delete">Supprimer</button>
                    </li>
                    <li class="editMode d-flex mb-4">
                        <input class="mt-11" type="checkbox">
                        <input type="text" value="Go Shopping" class="form-control mr-1 ml-2">
                        <button class="btn btn-primary btn-sm ml-2 edit">Modifier</button>
                        <button class="btn btn-danger btn-sm ml-2 delete">Supprimer</button>
                    </li>
                </ul>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <h3>Tâches effectuées</h3>
                <ul id="completed-tasks">
                    <li class="d-flex  mb-4">
                        <input class="mt-11" type="checkbox" checked>
                        <!-- <label>See the Doctor</label> -->
                        <input value="See the Doctor" type="text" class="form-control mr-1 ml-2">
                        <button class="btn btn-primary btn-sm ml-2 edit">Modifier</button>
                        <button class="btn btn-danger btn-sm ml-2 delete">Supprimer</button>
                    </li>
                </ul>
            </div>
        </div>
            
        <script src="./home.js"></script>
    </div>
</body>
</html>
